<section class="not-found-page">
  <div class="container">
    <div class="not-found-page__inner">
      <h1 class="not-found-page__title">404</h1>
      <p class="not-found-page__message">お探しのページが見つかりませんでした。</p>
      <a href="{{ routes.root_url }}" class="btn-more-red">トップページへ戻る</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "404ページ",
  "tag": "section",
  "class": "section-main-404"
}
{% endschema %}
